<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/styles/style.css'>
  <title>Music Player</title>
</head>
<body>
  <header>
    <div class="wrapper">
      <h1>Miko's Music Player</h1>
      <p id="current">Currently playing: nothing</p>
      <button id="stop">&block;</button>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <ul id="songs" class="album-list">
        <li>
          <ul class="album">
            <li>Cheezstereo - Cheezstereo - 01 왜 그래 (new)</li>
            <li>Cheezstereo - Cheezstereo - 02 선샤인데이</li>
            <li>Cheezstereo - Cheezstereo - 03 유유히 흐르네</li>
            <li>Cheezstereo - Cheezstereo - 04 EVE</li>
            <li>Cheezstereo - Cheezstereo - 05 꽃</li>
            <li>Cheezstereo - Cheezstereo - 06 청춘파도 (new)</li>
            <li>Cheezstereo - Cheezstereo - 07 밤이 깊도록</li>
            <li>Cheezstereo - Cheezstereo - 08 바빠</li>
            <li>Cheezstereo - Cheezstereo - 09 Dance Now</li>
            <li>Cheezstereo - Cheezstereo - 10 It's A Whole New Day</li>
            <li>Cheezstereo - Cheezstereo - 11 1-</li>
          </ul>
        </li>
        <li>
          <ul class="album">
            <li>audace - 胡蝶の夢、十の夜 - 01 西方見聞録</li>
            <li>audace - 胡蝶の夢、十の夜 - 02 時雨</li>
            <li>audace - 胡蝶の夢、十の夜 - 03 秋月奇譚</li>
            <li>audace - 胡蝶の夢、十の夜 - 04 新月秘話</li>
            <li>audace - 胡蝶の夢、十の夜 - 05 私のアメリ</li>
            <li>audace - 胡蝶の夢、十の夜 - 06 Retour</li>
            <li>audace - 胡蝶の夢、十の夜 - 07 フェルメールの青</li>
            <li>audace - 胡蝶の夢、十の夜 - 08 砂の街</li>
            <li>audace - 胡蝶の夢、十の夜 - 09 Cinqenfants</li>
            <li>audace - 胡蝶の夢、十の夜 - 10 夏月奇譚</li>
            <li>audace - 胡蝶の夢、十の夜 - 11 Epilogue</li>
          </ul>
        </li>
        <li>
          <ul class="album">
            <li>In Love With A Ghost - healing - 01 introduction</li>
            <li>In Love With A Ghost - healing - 02 i was feeling down then i found a nice witch and now we're best friends</li>
            <li>In Love With A Ghost - healing - 03 welcome at azerty and qwerty's home</li>
            <li>In Love With A Ghost - healing - 04 chilling at nemu's place</li>
            <li>In Love With A Ghost - healing - 05 i know it's not easy but you're not alone anymore</li>
            <li>In Love With A Ghost - healing - 06 i hope you don't mind if i come here to cry</li>
            <li>In Love With A Ghost - healing - 07 qwerty enchanted the house and now it's attacking us</li>
            <li>In Love With A Ghost - healing - 08 let's walk across this forest, i can feel that everything is real again</li>
            <li>In Love With A Ghost - healing - 09 am i a girl- am i a boy- do i really care- i'm hungry anyway</li>
            <li>In Love With A Ghost - healing - 10 healing</li>
          </ul>
        </li>
        <li>
          <ul class="album">
            <li>10cm - 3.0 - 01 3집에 대한 부담감</li>
            <li>10cm - 3.0 - 02 담배왕 스모킹</li>
            <li>10cm - 3.0 - 03 스토커</li>
            <li>10cm - 3.0 - 04 쓰담쓰담</li>
            <li>10cm - 3.0 - 05 그리워라</li>
            <li>10cm - 3.0 - 06 아프리카 청춘이다</li>
            <li>10cm - 3.0 - 07 뗄래야 뗄 수 없는 사이</li>
            <li>10cm - 3.0 - 08 여자는 왜 화를 내는 걸까</li>
            <li>10cm - 3.0 - 09 Dreams Come True</li>
            <li>10cm - 3.0 - 10 짝사랑</li>
          </ul>
        </li>
      </ul>
    </div>
  </main>
  <script src='https://code.jquery.com/jquery-3.4.0.min.js' integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=' crossorigin='anonymous'></script>
  <script src='scripts/script.js'></script> 
</body>
</html>